

body {

background-color: #6C5B7B;

} 

.Counter {

position:absolute

}
.Fent {

position:absolute;
transform: translateX(-50%) translateY(-10%) scale(0.1) ;
top: 10vw;

visibility: visible;


}

.Fragen {

visibility:hidden;


}
.Frage1Knöpfe {
display:flex;
justify-content: center;
transform:translateY(-20vw);
gap: 20vw;

}

.Frage1Knöpfe buttons {

    position:relative;
    
}

.Q1A1 {

visibility: hidden;


}
.Q1A2 {

visibility: hidden;

}
.Q1A3 {

visibility: hidden;

}
.Frage1 {
position:absolute;

left: 50%;

transform:translateY( -45vw) translateX(-50%);

}

.RainerContainer {
  position: absolute;
  top: 100px;
  left: 0;

  width: 100%;
  height: 0;

  pointer-events: none;
    
}

.Rainer {
  position: absolute;

  top: -150px;
  left: -80vw;

  width: 100%;

  transform: scale(0.2);
  transition: transform 0.6s ease-in-out;


}

.Author {
    display: block;
    position: relative;
    color: #F8B195;
    text-align: center; 
    visibility: hidden;
    
    
}

.Header {
display:block;
position: relative;
color: #F67280;
text-align: center;


}
.Header:hover {

transform:scale(1.05);
transition: transform 0.6s ease-in-out;
}

.Header:hover ~ .RainerContainer  {

transform:translateX(20vw);

}

@keyframes slideInAuthor {

from {

transform:scale(0.1)

}

to {

transform: scale(1);

}

}


@keyframes slideInRainer {

    from {

            transform: translateX(-30vw) scale(0.2);
        
    }

to {

    transform: translateX(20vw) scale(0.2);

}

}


.Header:hover + .Author{
    transform: scale(1.05);
    
    transition: transform 0.6s ease-in-out;
    
 
    visibility: visible;
    animation: slideInAuthor 1s ease-in-out forwards ;
}

.startbutton {
background-color:#F67280;
color:white;
display:block;
margin-left: auto;
margin-right: auto;
padding:15px;
position:relative;

align-items: center;
transform:   scale(3);
margin: 200px auto 0;
border:none;
border-radius: 19%;
transition: background .3 ease;
cursor:pointer


}

.startbutton:hover {

background-color: #F69280;
transform: scale(3.1);
    
    transition: transform 0.6s ease-in-out;


}
.Header:hover ~ .RainerContainer .Rainer {


animation: slideInRainer 1.5s ease-in-out forwards;

}